@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    box-sizing: border-box;
}
#container{
    padding-top: 20px;
}
header{
    height: 50px;
    text-align: center;
    color: hsl(234, 12%, 34%);
}
#topHeader{
    font-weight: 200;
}
#middleHeader{
    font-weight: 600;
}
h4{
    color: hsl(229, 6%, 66%);
}
body{
    font-family: Poppins;
    background-color: hsl(0, 0%, 98%);
}
p{
    font-size: 15px;
    color: hsl(229, 6%, 66%);
}
main{
    padding: 100px;
    width: 400px;
}
#mainFlex{
    gap: 25px;
    display: flex;
    margin-top: 100px; 
    
}
h3{
    color: hsl(234, 12%, 34%);
}
#firstSection{
    padding: 20px;
    border-radius: 4px;
    border-top-style: solid;
    background-color: hsl(0, 0%, 98%);
    border-top-color: hsl(180, 62%, 55%);
    box-shadow: 0 0 5px hsl(229, 6%, 66%);
}
#secondSection{
    padding: 20px;
    border-radius: 4px;
    border-top-style: solid;
    background-color: hsl(0, 0%, 98%);
    border-top-color: hsl(0, 78%, 62%);
    margin-bottom: 50px;
    box-shadow: 1px 1px 5px hsl(229, 6%, 66%);
}
#thirdSection{
    padding: 20px;
    border-radius: 4px;
    border-top-style: solid;
    background-color: hsl(0, 0%, 98%);
    border-top-color: hsl(34, 97%, 64%);
    margin-top: 50px;
    box-shadow: 1px 1px 5px hsl(229, 6%, 66%);
}
#fourthSection{
    padding: 20px;
    border-radius: 4px;
    border-top-style: solid;
    background-color: hsl(0, 0%, 98%);
    border-top-color: hsl(212, 86%, 64%);
    box-shadow: 0 0 5px hsl(229, 6%, 66%);
}
#firstIcon{
    padding-left: 300px;
}
#secondIcon{
    padding-left: 300px;
}
#thirdIcon{
    padding-left: 300px;
}
#fourthIcon{
    padding-left: 300px;
}